<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="specialtopic.groupfive.tugoflogic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".instructor.ui.gameroom.InstructorReasonsInPlayActivity"></activity>
        <activity android:name=".instructor.ui.gameroom.InstructorWaitingVoteActivity" />
        <activity android:name=".instructor.ui.gameroom.GameSummaryActivity" />
        <activity android:name=".instructor.ui.gameroom.InstructorDiscussionManagerActivity" />
        <activity android:name=".instructor.ui.gameroom.InstructorSetTime" />
        <activity android:name=".instructor.ui.gameroom.ChooseMainClaimActivity" />
        <activity
            android:name=".instructor.ui.gameroom.GameRoomActivity"
            android:label="@string/gameroom" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".student.StudentMainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".instructor.InstructorMainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>